// Specific CSS for your home-page
.main-header {
  opacity: 0;
  font-size: 6rem;
  transition: opacity 0.5s ease-in;
}

.main-text {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  transition: opacity 0.5s ease-in;
}

.demo-gif {
  margin-top: 150px;
  width: 600px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.image {
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease-in;
}

@media (max-width: 600px) {
  .demo-gif {
    width: 300px;
    height: 200px;
    margin-top: 40px;
  }

  .home-text {padding: 0 12px;}

  .main-header {
    width: 45%;
  }
}

@media only screen and (max-width: 1160px) {
  .demo-gif {
    width: 100%;
    height: auto;
    margin-top: 150px;
  }
}
