// Specific CSS for your home-page
.main-header {
  opacity: 0;
  font-size: 6rem;
  transition: opacity 0.5s ease-in;
  z-index: 900;
}

.main-text {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  transition: opacity 0.5s ease-in;
  width: 70%;
  margin: auto;
}

.new-link {
  color: black;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #6c63ff;
  }
}

.demo-gif {
  width: 550px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px)
  }
}

.image {
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease-in;
}

@media (max-width: 600px) {
  .demo-gif {
    width: 300px;
    height: 200px;
    margin: 48px 0;
  }

  .main-text {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .home-text {padding: 0 12px;}

  .main-header {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 1160px) {
  .demo-gif {
    width: 100%;
  }
}
