// Specific CSS for your home-page
.main-header {
  font-size: 4rem;
}

.demo-gif {
  width: 500px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.image {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .demo-gif {
    width: 350px;
    height: 200px;
  }

  .home-text {padding: 0 12px;}

  .main-header {
    width: 45%;
  }
}
