<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center"><strong>Time Signature</strong></h5>
    <p class="card-text">The time signature is:</p>
    <h2 class="text-center"><%= @song.time_signature %></h2>
    <div class="text-center">
      <a href="#" class="btn btn-primary">something else</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title"><strong>Instrument</strong></h5>
    <p class="card-text">Your instrument is: </p>
    <h2 class="text-center"><%= @instrument.name %></h2>
    <div class="text-center">
      <a href="#" class="btn btn-primary">something else</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title"><strong>BPM</strong></h5>
    <p class="card-text">The BPM is: </p>
    <h2 class="text-center"><%= @song.bpm %></h2>
    <div class="text-center">
      <a href="#" class="btn btn-primary">something else</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title"><strong>Mood</strong></h5>
    <p class="card-text">The mood is: </p>
    <h2 class="text-center"><%= @song.mood %></h2>
    <div class="text-center">
      <a href="#" class="btn btn-primary">something else</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <h5 class="card-title"><strong>Key</strong></h5>
    <p class="card-text">The key is: </p>
    <h2 class="text-center">placeholder</h2>
    <div class="text-center">
      <a href="#" class="btn btn-primary">something else</a>
    </div>
  </div>
</div>
