<div class="card">
  <div class="card-body">
    <h5 class="card-title">Time Signature</h5>
    <p class="card-text">The time signature is: <%= @song.time_signature %></p>
    <a href="#" class="btn btn-primary">something else</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Instrument</h5>
    <p class="card-text">Your instrument is: <%= @instrument.name %></p>
    <a href="#" class="btn btn-primary">something else</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">BPM</h5>
    <p class="card-text">The BPM is: <%= @song.bpm %></p>
    <a href="#" class="btn btn-primary">something else</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Mood</h5>
    <p class="card-text">The mood is: <%= @song.mood %> </p>
    <a href="#" class="btn btn-primary">something else</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Key</h5>
    <p class="card-text">The key is: </p>
    <a href="#" class="btn btn-primary">something else</a>
  </div>
</div>
