<footer data-loader-target="footer">
  <p>
    Built with
    <a href="https://guides.rubyonrails.org/" target="_blank">Ruby on Rails</a> &
    <a href="https://stimulus.hotwired.dev/" target="_blank">JavaScript (Stimulus).</a>&nbsp;
    <p>Built by <a href="https://github.com/HenzaT" target="_blank">Henry Thomas.</a></p>
  </p>
</footer>
