<div class="col-5 card card-inst my-2 d-none w-45" data-expander-target="expandingElementOne">
  <div class="card-body text-center" data-controller="random-instrument">
    <div>
      <h5 class="card-title"><strong>Instrument</strong></h5>
      <i class="fa-solid fa-lock-open"></i>
    </div>
    <p class="card-text">Your instrument is: </p>
    <h2 data-song-target="allInstrumentTwo" data-random-instrument-target="instrument">bass</h2>
    <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
  </div>
</div>

<%# Instrument Row 2 %>
  <div class="row justify-content-around my-4" data-expander-target="secondRow">
    <div class="col-5 card card-inst my-2 d-none w-45" data-expander-target="expandingElementTwo">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentThree" data-random-instrument-target="instrument">drums</h2>
        <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
      </div>
    </div>
    <div class="col-5 card card-inst my-2 d-none w-45" data-expander-target="expandingElementThree">
      <div class="card-body text-center" data-controller="random-instrument">
        <div>
          <h5 class="card-title"><strong>Instrument</strong></h5>
          <i class="fa-solid fa-lock-open"></i>
        </div>
        <p class="card-text">Your instrument is: </p>
        <h2 data-song-target="allInstrumentFour" data-random-instrument-target="instrument">vocals</h2>
        <button class="btn btn-info" data-action="click->random-instrument#changeInstrument">something else</button>
      </div>
    </div>
  </div>
