<div class="container">
  <h1>Gimme A Song!</h1>
  <p>Feeling stuck? Don't know what kind of song to write?</p>
  <p><i class="fa-solid fa-arrow-down"></i> Be inspired and challenged <i class="fa-solid fa-arrow-down"></i></p>

  <div class="buttons">
    <%= link_to 'Gimme a song!', new_song_path, class: "btn btn-primary" %>
  </div>
</div>
