<%= csrf_meta_tags %>

<div class="new-body" data-controller="song">
  <div class="container d-flex justify-content-center my-4">
    <button class="btn btn-primary me-4" data-action="click->song#changeAll">Gimme a Song!</button>
    <button class="btn btn-success me-4" data-action="click->song#saveSong">Done</button>
    <%#= simple_form_for [@song, @song_instrument] do |f| %>
      <%#= f.input :mood %>
      <%#= f.submit %>
    <%# end %>
  </div>

  <div class="row" data-controller="random-time-sig">
    <div class="cards col-3 my-4">
      <div class="card my-4" style="width: 18rem;" data-random-time-sig-target="timeSigCard">
        <div class="card-body text-center">
          <div>
            <h5 class="card-title text-center"><strong>Time Signature</strong></h5>
            <i class="fa-solid fa-lock-open" data-action="click->random-time-sig#lockTime" data-random-time-sig-target="padlock"></i>
          </div>
          <p class="card-text">The time signature is:</p>
          <h2 data-random-time-sig-target="time" data-song-target="allTime">4/4</h2>
          <button class="btn btn-info" data-random-time-sig-target="button" data-action="click->random-time-sig#changeTime">something else</button>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;"
            data-controller="random-bpm">
        <div class="card-body text-center">
          <div>
            <h5 class="card-title"><strong>BPM</strong></h5>
            <i class="fa-solid fa-lock-open"></i>
          </div>
          <p class="card-text">The BPM is: </p>
          <h2 data-random-bpm-target="bpm" data-song-target="allBpm">120</h2>
          <button class="btn btn-info" data-action="click->random-bpm#changeBpm">something else</button>
        </div>
      </div>
    </div>
    <div class="cards col-3 my-4">
      <div class="card my-4" style="width: 18rem;"
            data-controller="random-mood">
        <div class="card-body text-center">
          <div>
            <h5 class="card-title"><strong>Mood</strong></h5>
            <i class="fa-solid fa-lock-open"></i>
          </div>
          <p class="card-text">The mood is: </p>
          <h2 data-random-mood-target="mood" data-song-target="allMood">happy</h2>
          <button class="btn btn-info" data-action="click->random-mood#changeMood">something else</button>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <div class="card-body text-center"
              data-controller="random-key">
          <div>
            <h5 class="card-title"><strong>Key</strong></h5>
            <i class="fa-solid fa-lock-open"></i>
          </div>
          <p class="card-text">The key is: </p>
          <h2 data-random-key-target="key" data-song-target="allKey">C</h2>
          <button class="btn btn-info" data-action="click->random-key#changeKey">something else</button>
        </div>
      </div>
    </div>

    <div class="col-5 my-4">
      <%= turbo_frame_tag :new_instrument do %>
        <div class="card-inst my-4" style="width: 18rem;">
          <div class="card-body text-center">
            <h5 class="card-title my-3"><strong>Add Instruments</strong></h5>
            <p class="card-text"><i class="fa-solid fa-arrow-down fa-bounce mx-2"></i> Click Here <i class="fa-solid fa-arrow-down fa-bounce mx-2"></i></p>
            <%= link_to '', songs_new_instruments_path, class: "icon fa-solid fa-square-plus fa-3x fa-fade text-dark mb-3" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
