<div>
  <%= render "shared/new_navbar" %>
</div>

<div class="container my-4">
  <div class="d-flex justify-content-between">
    <%= render "shared/cards" %>
  </div>
</div>

<div class="container d-flex">
  <%= button_to 'Gimme a Song!', new_song_path, method: :get  %>
  <%= button_to 'Done', new_song_path, data: { turbo_method: :post } %>
</div>
