<div class="container">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="row">
      <div class="col">
        <%= render "shared/cards" %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= link_to "return home", root_path, class: "btn btn-primary" %>
  </div>
</div>
