<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <%= render "shared/cards" %>
    </div>
  </div>

  <div class="container">
    <%= link_to "return home", root_path, class: "btn btn-primary" %>
  </div>
</div>
