.btn, .main-btn {
  border-radius: 30px;
}

.main-btn {
  background-color: #6c63ff;;
  color: white;
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
}

.main-btn:hover, .main-btn:active {
  background-color: #574fcf;
  transform: translateY(-2px);
  color: white;
}

.btn-done {
  background-color: #f48fb1;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.btn-done:hover, .btn-done:active, .btn-done:focus {
  background-color: #ec407a;
  transform: translateY(-2px);
  color: white;
}

.login, .logout {
  background-color: transparent;
  color: black;
  border: 2px solid #574fcf;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    border: 2px solid #574fcf;
  }
}
