.card {
  // background-color: $song;
  // border: 2px solid;
  border-radius: 15px;
  box-shadow: $box-shadow;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px)
  }

  .card-title-name {
    font-weight: bolder;
  }

  .card-text {
    display: flex;
    justify-content: space-between;
  }
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-inst {
  border-radius: 15px;
  box-shadow: $box-shadow;
  // .card-body {
  //   padding: 10px;
  // }
}

#inst-card {
  height: 100%;
}

.explain-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  width: 50%;
  margin: auto;

  .rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.instruments {
  background-color: white;
  border-radius: 15px;
}

.song-elements {
  background-color: white;
  border-radius: 15px;
}

.instrument-picture {
  width: 30px;
  height: 30px;
}

// .user-cards {
//   opacity: 0;
//   transition: opacity 1s;
//   &.visible {
//     opacity: 1;
//   }
// }

// @media (max-width: 600px) {
//   #time-sig-text {
//     text-wrap: nowrap;
//     text-align: center;
//   }
// }
