.card {
  background-color: $song;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #727272;
  background-image: image-url("cross-scratches.png");

  .card-title-name {
    font-weight: bolder;
  }

  .card-text {
    display: flex;
    justify-content: space-between;
  }
}

.card-inst {
  background-color: $inst;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #727272;
  // .card-body {
  //   padding: 10px;
  // }
}

.explain-card {
  .rectangle {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.song {
      background-color: $song;
    }
    &.inst {
      background-color: $inst;
    }
  }
}

.instruments {
  background-color: white;
  background-image: image-url("cross-scratches.png");
  border-radius: 15px;
}

.song-elements {
  background-color: white;
  background-image: image-url("cross-scratches.png");
  border-radius: 15px;
}

.instrument-picture {
  width: 30px;
  height: 30px;
}

// .user-cards {
//   opacity: 0;
//   transition: opacity 1s;
//   &.visible {
//     opacity: 1;
//   }
// }
