.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

body.dark .navbar-lewagon .nav-link,
body.dark .navbar-lewagon .navbar-brand {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.mobile-navbar .navbar-brand img {
  width: 40px;
}

.navbar-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.navbar-icon-clef {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.nav-container {
  border-bottom: 1px solid black;
}
